*{
    padding: 0;
    margin: 0;
}
.footer {
    width: 100%;
    height: 500px;
    background-color: #002c3e;
    color: whitesmoke;
}

.row {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;



}

.row1 {
    color: whitesmoke;
    font-size: 25px;
}

.foo1-1 {
    width: 350px;
    font-size: 20px;

}

hr {
    width: 500px;
    margin-left: 30%;

}

.logo i {
    padding: 5px;
    font-size: 22px;
}

.lastfooter {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}
/* .main {
    width: 100%;
    height: 80px;
    background-color: orangered;
     text-align: center;
    color: whitesmoke;
  margin-top: 7%;

}
.main h2 {
    font-weight: 700;
    font-size: 43px;
  
}  */
@media screen and (max-width:768px) {
    hr {
        width: 500px;
        margin-left: 10%;
    }
}
@media screen and (max-width:600px) {
    .footer{
        width: 100%;
        height: 500px;
    }
    .row span{
        font-size: 10px;
    }
    .foo1-1 h1{
        font-size: 18px;
    }
    .foo1-1 p{
        font-size: 10px;
    }
    .logo i{
        font-size: 18px;
    }
    hr {
        width: 300px;
        margin-left: 10%;
 }
 .lastfooter{
    font-size: 15px;
 }
}